{%extends 'base.html'%}
{%block head%}
<style>
    table th {
        text-align: left;
    }
</style>
{%endblock head%}

{%block body%}
<table id="model01" class="table table-bordered table-hover table-striped">
    <thead>
    <th colspan="8" style="background:#E3E3E3;">
        <h4 style="background:#E3E3E3; text-align:center; font-weight:bold">网络设备主要信息概览</h4>
    </th>
    <tr>
        <th>ID</th>
        <th>网络设备ip</th>
        <th>网络设备名</th>
        <th>使用状态</th>
        <th>设备唯一标识sn</th>
        <th>连接的用户</th>
        <th>查看</th>
    </tr>
    </thead>
    <tbody>
    {%for network in page%}
    <tr>
        <td>{{network.id}}</td>
        <td>{{network.host_ip}}</td>
        <td>{{network.host_name}}</td>
        <td class="state" data-value="{{network.sn}}">{{network.sn}}</td>
        <td>{{network.sn}}</td>
        <td></td>
        <td><a href="/detail_n/?dID={{network.id}}" target="_blank">详细</a></td>
    </tr>
    {%endfor%}
    </tbody>
</table>
{%endblock body%}


