{%extends 'base.html'%}
{%block head%}
<style>
    table th,
    table td {
        text-align: center;
    }
</style>
{%endblock head%}

{%block body%}
{%load filters%}
<table class="table table-hover table-striped">
    <thead>
    <th colspan="3" style="background:#E3E3E3;">
        <h4 style="background:#E3E3E3; font-weight:bold"> {{detail_name}}详细信息</h4>
    </th>
    <tr>
        <th style="width:20%;">编号</th>
        <th style="width:30%; text-align: left;">名称</th>
        <th style="width:50%; text-align: left;">值</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <th scope="row">1</th>
        <td style="text-align: left;">设备id</td>
        <td style="text-align: left;">{{item.id}}</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td style="text-align: left;">网络设备ip</td>
        <td style="text-align: left;">{{item.host_ip}}</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td style="text-align: left;">网络设备名</td>
        <td style="text-align: left;">{{item.host_name}}</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td style="text-align: left;">"net_cab_id": "网络设备所属机柜ID",</td>
        <td style="text-align: left;">{{item.net_cab_id}}</td>
    </tr>
    <tr>
        <th scope="row">10</th>
        <td style="text-align: left;">预留岗位</td>
        <td style="text-align: left;">---</td>
    </tr>
    <tr>
        <th scope="row">11</th>
        <td style="text-align: left;">使用状态</td>
        <td style="text-align: left;">
            <form action="/record/state_handdle/?detail_type=n" method="post" class="form-inline">
                <input type="text" name="conn_id" value="{{item.sn}}" style="display: none">
                <select class="form-control" name="state">
                    <option>{{sn_states|get_state_n:item.sn}}</option>
                    <option class="divider">-------------</option>
                    <option>下线</option>
                    <option>线上运行</option>
                    <option>测试使用</option>
                    <option>已报废</option>
                </select>
                <button type="submit" class="btn btn-default btn-success">提交修改</button>
                {%csrf_token%}
            </form>

        </td>
    </tr>
    </tbody>
</table>

{%endblock body%}

